body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-webkit-center {
  text-align: center;
  text-align: -webkit-center;
}

.button-style {
  display: inline-block;
  font-size: 13px;
}

.a-style {
  text-decoration: none !important;
}

.error-message {
  color: red;
  font-size: 12px;
  vertical-align: top;
  float: left;
}

.font-weight-bold {
  font-weight: bold;
  margin-bottom: 5px;
}

.font-style-italic {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0px;
}

.hr-center {
  width: 65%;
  margin: 10px auto;
}

.profile-label {
  text-align: left;
  float: inline-start;
  font-size: 14px;
}

/* Attribute Directive */
.color-default {
  color: black;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.justify-content-md-center {
  justify-content: center !important;
}

.button-right {
  float: right;
}

.container-inline {
  display: inline-block;
}

.button-color {
  background: skyblue;
}

.button-space {
  margin-left: 10px;
}
